@import url('https://fonts.googleapis.com/css2?family=Agbalumo&family=Dancing+Script:wght@700&display=swap');


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.bodyHome {
    background-color:  rgb(212, 250, 76);
}

.bodyHome div {
    margin: 74px 0px;
}

.body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.h1 {
    display: flex;
    text-align: center;
    justify-content: center;
    cursor: default;
    font-family: "Agbalumo", sans-serif;
    font-size: 36px;
    padding: 30px 0px;
}

.bodyHard h1 {
    color:  rgb(212, 250, 76);
} 

.mode {
    display: flex;
    text-align: center;
    justify-content: center;
    cursor: default;
    font-family: "Agbalumo", sans-serif;
    font-size: 18px;
    background-color: #818181;
    border: 1px solid black;
    border-radius: 6px;
    padding: 3px 10px;
    margin: 15px;
}

.bodyHard {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #4e4e4e;
}

#board {
    display: flex;
    flex-wrap: wrap;
    padding: 50px 30px;
}

.box  {
    width: 75px;
    height: 75px;
    border: 1px solid black;
    background-color: rgb(212, 250, 76);
    font-size: 3em;
    text-align: center;
    line-height: 75px;
    margin: 5px;
    animation: appear 1s;
    border-radius: 6px;
    cursor: pointer;
    transition: background-color 0.8s, color 0.8s, transform 0.8s;
}

.box-clicked {
    background-color: #ccc;
    color: #aaa;
    transform: scale(0.8);
}

.box.error {
    color: rgb(144, 58, 58);
    background-color: rgb(255, 160, 190);
}

.box.success {
    color: rgb(11, 138, 22);
    background-color: rgb(172, 251, 172);
}

.box.notice {
    color: rgb(18, 16, 151);
    background-color: rgb(184, 217, 255);
    cursor: not-allowed;
}

.footer {
    display: flex;
    justify-content: center;
}

.buttonRestart {
    display: inline-block;
    
    font-family: "Agbalumo", sans-serif;;
    font-size: 36px;
    padding: 0px 10px;
    cursor: pointer;
    text-align: center;
    text-decoration: none;
    outline: none;
    color: #000;
    background-color: rgb(172, 251, 172);
    border: 1px solid black;
    border-radius: 5px;
    transition: 1s;
}

.buttonRestart:hover {
    background-color: rgb(11, 138, 22);
}


.buttonMode {
    display: inline-block;
    padding: 15px 25px;
    font-size: 24px;
    font-family: "Dancing Script";
    text-align: center;
    text-decoration: none;
    outline: none;
    color: #fff;
    background-color: #403f3f;
    border: 1px solid #fff;
    border-radius: 5px;
    Margin: 20px;
    transition: 1s;
}

.buttonMode:hover {
    background-color: #000;
}

.buttonHome {
    display: inline-block;
    padding: 10px 20px;
    font-size: 24px;
    font-family: "Dancing Script";
    cursor: pointer;
    text-align: center;
    text-decoration: none;
    outline: none;
    color: #fff;
    background-color: #403f3f;
    border: 1px solid #fff;
    border-radius: 5px;
    transition: 1s;
}

.buttonHome:hover {
    background-color: #000;
}

.selMode {
    display: flex;
    text-align: center;
    justify-content: center;
    cursor: default;
    font-family: "Agbalumo", sans-serif;
    font-size: 24px;
    background-color: #818181;
    padding: 5px 10px;
    border: 1px solid black;
    border-radius: 5px;
}

@keyframes appear {
    from{
        transform: scale(0) rotate(180deg)
    }
    to{
        transform: scale(1) rotate(0deg);
    }
}